/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection{
  color: #fff;
  background: var(--w-color);
  border: 2px var(--blue-color);
}
.wrapper{
  width: 1180px;
  position: relative;
  background: var(--blue-color);
  border-radius: 5px;
  z-index: 99;
  margin: auto;
}
.wrapper header{
  color: var(--accent-color);
  font-size: 27px;
  font-weight: 100;
  text-align: center;
}
.wrapper form{
  height: 180px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed var(--accent-color);
}
form :where(i, p){
  color: var(--w-color);
  border: 2px var(--blue-color);
}
form i{
  font-size: 50px;
}
form p{
  margin-top: 15px;
  font-size: 16px;
}

.content_upload{
  justify-content: center;
  align-items: center;
}
section .row{
  margin-bottom: 10px;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .row i{
  color: var(--accent-color);
  font-size: 30px;
}
section .details span{
  font-size: 16px;
  background-color: var(--accent-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.progress-area .details{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.progress-area .content .progress-bar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.content .progress-bar .progress{
  height: 100%;
  width: 100%;
  background: var(--accent-color);
  border-radius: inherit;
}
.uploaded-area{
  max-height: 75px;
  overflow:none;
}
.uploaded-area.onprogress{
  max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
  width: 0px;
}
.uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.uploaded-area .row .details{
  display: flex;
  flex-direction: column;
}
.uploaded-area .row .details .size{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--blue-color);
  font-size: 12px;
}
.uploaded-area .row .details .name{
  position: relative;
  display:block;
  text-align: center;
}

.uploaded-area i.fa-check{
  font-size: 16px;
}

      /* Кнопка */

.pick {
  height: 60px;
  overflow: visible;
  background: var(--accent-color);
  border-bottom: 0;
  font-weight: var(--font-weight-semibold);
  font-size: 17px;
  color: var(--blue-color);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 5px 0 rgba(165, 108, 1, 0.904);
  padding: 1em 0;
  text-align: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  display: block;
}

@media (prefers-reduced-motion:reduce) {
  .pick {
      transition: none
  }
}

.pick[type=file] {
  overflow: hidden
}

.pick[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer
}

.pick:focus {
  color: #212529;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
}

.pick::-webkit-date-and-time-value {
  height: 1.5em
}

.pick:disabled,
.pick[readonly] {
  background-color: var(--accent-color);
  opacity: 1
}

.pick::file-selector-button {
  padding: .375rem .75rem;
  margin: -.375rem -.75rem;
  -webkit-margin-end: .75rem;
  margin-inline-end: .75rem;
  color: #212529;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  .pick::file-selector-button {
      transition: none
  }
}


.pick::-webkit-file-upload-button {
  padding: .375rem .75rem;
  margin: -.375rem -.75rem;
  -webkit-margin-end: .75rem;
  margin-inline-end: .75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  .pick::-webkit-file-upload-button {
      -webkit-transition: none;
      transition: none
  }
}


.pick-plaintext {
  display: block;
  width: 400px;
  padding: .375rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.pick-plaintext.pick-lg,
.pick-plaintext.pick-sm {
  padding-right: 0;
  padding-left: 0;
}

.pick-sm {
  min-height: calc(1.5em + .5rem + 2px);
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: 0px;
}

.pick-sm::file-selector-button {
  padding: .25rem .5rem;
  margin: -.25rem -.5rem;
  -webkit-margin-end: .5rem;
  margin-inline-end: .5rem;
}

.pick-sm::-webkit-file-upload-button {
  padding: .25rem .5rem;
  margin: -.25rem -.5rem;
  -webkit-margin-end: .5rem;
  margin-inline-end: .5rem
}

.pick-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0px;
}

.pick-lg::file-selector-button {
  padding: .5rem 1rem;
  margin: -.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem
}

.pick-lg::-webkit-file-upload-button {
  padding: .5rem 1rem;
  margin: -.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem
}

p {
	font-size: 16px;
	color: rgb(255, 255, 255);
	margin: 0 0 10px 0;
	padding: 0;
	line-height: 1.6;
}

.lol {
  color: var(--blue-color);
}
.fas {
  background-color: var(--accent-color);
}

.button {
  height: 60px;
  overflow: visible;
  background: var(--accent-color);
  border-bottom: 0;
  font-weight: var(--font-weight-semibold);
  font-size: 17px;
  color: var(--blue-color);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 5px 0 rgba(165, 108, 1, 0.904);
  padding: 1em 0;
  text-align: center;
  position: relative;
  justify-content: center;
  cursor: pointer;
  display: flex;
  border: 2px solid var(--accent-color);
}
  .button:hover {
    background-color: rgba(255, 208, 0, 0.904);
   
  }
  
  .button:active {
    box-shadow: none;
    top: 5px;
    background-color: rgba(255, 238, 0, 0.904);
    color: var(--flat-color);
  }


.facer {
  height: 60px;
  overflow: visible;
  background: var(--accent-color);
  border-bottom: 0;
  font-weight: var(--font-weight-semibold);
  font-size: 17px;
  color: var(--blue-color);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 5px 0 rgba(165, 108, 1, 0.904);
  padding: 1em 0;
  text-align: center;
  position: relative;
  justify-content: center;
  cursor: pointer;
  display: flex;
}
.facer:hover {
  background-color: rgba(255, 208, 0, 0.904);
  color: var(--flat-color);
}

.facer:active {
  box-shadow: none;
  background-color: rgba(255, 238, 0, 0.904);
  color: var(--flat-color)
}
.touch {
  height: 60px;
  overflow: visible;
  background: var(--accent-color);
  border-bottom: 0;
  font-weight: var(--font-weight-semibold);
  font-size: 17px;
  color: var(--blue-color);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 5px 0 rgba(165, 108, 1, 0.904);
  padding: 1em 0;
  text-align: center;
  position: relative;
  justify-content: center;
  cursor: pointer;
  display: flex;
}
.touch:hover {
  background-color: rgba(255, 208, 0, 0.904);
  color: var(--flat-color);
}

.touch:active {
  box-shadow: none;
  background-color: rgba(255, 238, 0, 0.904);
  color: var(--flat-color)
}

.content_toggle { 
  height: 60px;
  overflow: visible;
  background: var(--accent-color);
  border-bottom: 0;
  font-weight: var(--font-weight-semibold);
  font-size: 17px;
  color: var(--blue-color);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 5px 0 rgba(165, 108, 1, 0.904);
  padding: 1em 0;
  text-align: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  display: block;
  border: 2px solid var(--accent-color);
}


.content_toggle:hover {
  background-color: rgba(255, 208, 0, 0.904);
  color: var(--flat-color);
}

.content_toggle:active {
  box-shadow: none;
  background-color: rgba(255, 238, 0, 0.904);
  color: var(--flat-color)
}
.content_block {
  height: 120px;
  display: flex;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid #e1a20d;;
  color: var(--accent-color);
}

/* скроллбар */
* {
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  height: 16px;
  width: 16px;
}
*::-webkit-scrollbar-track {
  background-color: var(--blue-color);
  margin-top: auto;
}
*::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  height: 200px;
  background-size: contain;
  overflow: auto;
}
*::-webkit-scrollbar-thumb:hover {
  background: #cc8f00;
}
*::-webkit-scrollbar-thumb:active {
  background: #aa7700;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: var(--blue-color);
  display: block;
  border-style: solid;
  height: 16px;
  width: 16px;
}
::-webkit-scrollbar-button:single-button:hover {
  background-color: #3d1264;
}
::-webkit-scrollbar-button:single-button:active {
  background-color: #4e1881;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent var(--bg-color) transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent var(--bg-color) transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  border-color: transparent transparent #4c197c transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 4px 8px;
  border-color: var(--blue-color) transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: var(--bg-color) transparent transparent transparent;
}
::-webkit-scrollbar-button:single-button:vertical:increment:active {
  border-color: transparent transparent #4c197c transparent;
}